In [1]:
import pandas as pd

In [72]:
##zadanie 16
df=pd.DataFrame()
t1=[["Styczeń","January"],["Luty","February"],["Marzec","March"],["Kwiecień","April"],["Maj","May"],
    ["Czerwiec","June"],["Lipiec","July"],["Sierpień","August"],["Wrzesień","September"],["Październik","October"]]
df=pd.DataFrame(t1)
df

             0          1
0      Styczeń    January
1         Luty   February
2       Marzec      March
3     Kwiecień      April
4          Maj        May
5     Czerwiec       June
6       Lipiec       July
7     Sierpień     August
8     Wrzesień  September
9  Październik    October

In [73]:
#zad 16 ciąg dalszy
print(df.shape) 
print(df.columns) #nazwy kolumn, są podane indeksy bo nie nazwałem kolumn
print(df.index) #rzędy [indeksy]
df_join=pd.DataFrame((["Listopad","November"],["Grudzień","December"]),columns=[0,1]) 
df=pd.concat([df,df_join])
df=df.reset_index(drop=True)
df

(10, 2)
RangeIndex(start=0, stop=2, step=1)
RangeIndex(start=0, stop=10, step=1)

              0          1
0       Styczeń    January
1          Luty   February
2        Marzec      March
3      Kwiecień      April
4           Maj        May
5      Czerwiec       June
6        Lipiec       July
7      Sierpień     August
8      Wrzesień  September
9   Październik    October
10     Listopad   November
11     Grudzień   December

In [76]:
#zad 16 ciąg dalszy

df.columns=(["PL","ENG"])
#df = df.rename(columns={'kol1': 'kol3'}) - tylko jedna kolumna
df.sort_values("PL", ascending=False)
df

             PL        ENG
0       Styczeń    January
1          Luty   February
2        Marzec      March
3      Kwiecień      April
4           Maj        May
5      Czerwiec       June
6        Lipiec       July
7      Sierpień     August
8      Wrzesień  September
9   Październik    October
10     Listopad   November
11     Grudzień   December