In [1]:
import numpy as np
import pandas as pd

In [3]:
#zadanie 17
df = pd.DataFrame(np.random.randint(0,100,size=(20,10)),columns=[1,2,3,4,5,6,7,8,9,10])
df

    1   2   3   4   5   6   7   8   9   10
0   31  45  26  71  86  74  65  62  65   8
1   41  57  94  34  12  99  72  61  26  73
2   52  67  29  45   3  13  53  10  55  32
3   15  65  63  23  38  67  40  32  91  43
4   21  50  21  78   7  23  43  76  65  32
5   52   7  58  25  54  28  47  41  72  77
6   87  13  37  92  18  33  22  10  88  86
7   66  34  80  64  87  91  84   2  89  32
8   87  52  60  82  84  55  43  40  31  76
9   96  43  48  45  15  72  91  88  89  57
10  41  78   0  84  58  10  48  78  38  50
11  77  32  94  57  83   9  30  91  75  11
12  90  54   8  75  21  98  66  17  70   1
13  49  80  32  62  51  66  52  33  13  90
14  19  81   6  95  26  31  22  85   9  37
15  80  56  84  93  48  31  49   2  25  54
16  92  92  84  95   7  32   4  97  28  59
17  79  75   6  11  61  28  17  13  77  14
18  86  84  84  16  70  80  76  47  80  75
19  40  83  89  59   1  18  33  12  58   0

In [12]:
#zadanie 18
print(min(df.iloc[9,:])) #10 wiersz ma indeks 9, czyli wyrazy z 10 wiersza dla każdej kolumny -> :
print(max(df.iloc[:,-1])) #-1 to ostatnia kolumna
df.iloc[0:10,:] #10 pierwszych wierszy dla wszystkich kolumn, indeksy od 0 do 10 dałyby niby 11 wierszy ale przy podawaniu przedziału
#lewa strona jest domknięta a prawa otwarta, więc wiersz o indeksie 10 się nie liczy
df.iloc[0:10,[5,6,7]] #10 pierwszych wierszy dla kolumn 6,7,8

#kopiowanie
df_copy=df.copy()
df_copy


#eksport ramki do pliku
df_copy.to_csv('imie_i_nazwisko.csv',index=False)
#eksport pliku do ramki
df2 = pd.read_csv('imie_i_nazwisko.csv')

15
90

    Unnamed: 0   1   2   3   4   5   6   7   8   9  10
0            0  31  45  26  71  86  74  65  62  65   8
1            1  41  57  94  34  12  99  72  61  26  73
2            2  52  67  29  45   3  13  53  10  55  32
3            3  15  65  63  23  38  67  40  32  91  43
4            4  21  50  21  78   7  23  43  76  65  32
5            5  52   7  58  25  54  28  47  41  72  77
6            6  87  13  37  92  18  33  22  10  88  86
7            7  66  34  80  64  87  91  84   2  89  32
8            8  87  52  60  82  84  55  43  40  31  76
9            9  96  43  48  45  15  72  91  88  89  57
10          10  41  78   0  84  58  10  48  78  38  50
11          11  77  32  94  57  83   9  30  91  75  11
12          12  90  54   8  75  21  98  66  17  70   1
13          13  49  80  32  62  51  66  52  33  13  90
14          14  19  81   6  95  26  31  22  85   9  37
15          15  80  56  84  93  48  31  49   2  25  54
16          16  92  92  84  95   7  32   4  97  28  59
17          17  79  75   6  11  61  28  17  13  77  14
18          18  86  84  84  16  70  80  76  47  80  75
19          19  40  83  89  59   1  18  33  12  58   0

In [25]:
#zadanie 19
dfl = pd.DataFrame(np.random.randint(0,100,size=(20,1)),columns=[1,])
dfl2=df.copy()
dfl = pd.concat([dfl, dfl2], axis=1)
dfl_cp=dfl.copy()
dfl_cp
# dfl_cp.iloc[[5,6,7],[5,6,7]]
dfl_cp.drop(dfl_cp.iloc[[5,6,7],[5,6,7]])

    1   1   2   3   4   5   6   7   8   9   10
0    1  31  45  26  71  86  74  65  62  65   8
1   92  41  57  94  34  12  99  72  61  26  73
2   92  52  67  29  45   3  13  53  10  55  32
3   16  15  65  63  23  38  67  40  32  91  43
4   26  21  50  21  78   7  23  43  76  65  32
8   14  87  52  60  82  84  55  43  40  31  76
9   72  96  43  48  45  15  72  91  88  89  57
10  76  41  78   0  84  58  10  48  78  38  50
11  48  77  32  94  57  83   9  30  91  75  11
12   0  90  54   8  75  21  98  66  17  70   1
13  10  49  80  32  62  51  66  52  33  13  90
14  12  19  81   6  95  26  31  22  85   9  37
15  65  80  56  84  93  48  31  49   2  25  54
16  41  92  92  84  95   7  32   4  97  28  59
17  92  79  75   6  11  61  28  17  13  77  14
18  88  86  84  84  16  70  80  76  47  80  75
19  31  40  83  89  59   1  18  33  12  58   0

In [43]:
#zadanie 20
table = pd.DataFrame(([1,"Kowalski","1998-09-01","Sopot"],[2,"Malinowska","1995-10-09","Gdańsk"],[3,"Nowak","1998-02-09",
"Gdańsk"],[4,"Kowalewski","1999-03-12","Gdynia"],[5,"Jankowski","1999-09-01","Sopot"]),columns=["Lp","Nazwisko","Data","Miasto"])
table.to_csv('tabela.csv',index=False)

In [64]:
#zadanie 21
#df_tab = pd.read_csv('tabela.csv')
df_tab=table.copy()
#df_tab
df_tab2 = pd.concat([df_tab.Nazwisko, df_tab.Lp, df_tab.Data], axis=1)
df_tab3 = pd.concat([df_tab.Nazwisko, df_tab.Miasto, df_tab.Lp], axis=1)
df_tab4 = pd.concat([df_tab2.Lp,df_tab3.Nazwisko,df_tab2.Data,df_tab3.Miasto],axis=1)
df_tab5 = df_tab4.copy()
df_tab5=df_tab5.drop(df_tab5.index[4])
df_tab5

   Lp    Nazwisko        Data  Miasto
0   1    Kowalski  1998-09-01   Sopot
1   2  Malinowska  1995-10-09  Gdańsk
2   3       Nowak  1998-02-09  Gdańsk
3   4  Kowalewski  1999-03-12  Gdynia