In [16]:
#zadanie 31
import numpy as np
def func_1(rows,columns):
    result = np.ones((rows,columns))
    print(result)
    if rows != columns:
        x = result[rows-1].sum()
        y = result[:, columns-1].sum() #obliczanie sumy w ostatniej kolumnie; -1 ponieważ odnoszę się do indeksu a przy wywoływaniu funkcji podaję ilość
        print(x,y)
func_1(2,4)

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]]
4.0 2.0

In [27]:
#zadanie 32
def func_2(n):
    factorial = 1
    for i in range(1,n+1):
        factorial = factorial * i
    print ("Silnia z", n, "wynosi: ",factorial)
func_2(4)

Silnia z 4 wynosi:  24

In [44]:
#zadanie 33
from math import factorial
def func_3(n):
    for i in range(n):
        for j in range(n-i+1):
            print(end =" ")
        for j in range(i+1):
            print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
        print()
        
func_3(6)

       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  1 5 10 10 5 1